# Homework 1: Data-driven decison making

Read the case study *Select Collections, Inc.* included with this assignment. You will play a role similar to that of the summer intern, Marcos Kilduff. However, your assignment is not to predict `totalpay` for the observations in the test set. Instead, your task is to **decide** which of the accounts in the test set should be purchased and to **evaluate** the profits that your purchasing decisions could generate. Purchasing any individual account costs 25% of the account's balance (`cobal`).

In [98]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
!gdown https://drive.google.com/uc?id=1Z66wSxIkkeJJoN-REG-D0_N2j8zmC52M
!gdown https://drive.google.com/uc?id=1S0G2OXd6V6RrkysAuq2XvkUAWzVNpaM3

df_train = pd.read_csv("SC_Training_Data.csv")
df_test = pd.read_csv("SC_Test_Data.csv") #no tatalpay
nickname = "ThreeThree"

Downloading...
From: https://drive.google.com/uc?id=1Z66wSxIkkeJJoN-REG-D0_N2j8zmC52M
To: /content/SC_Training_Data.csv
100% 245k/245k [00:00<00:00, 72.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1S0G2OXd6V6RrkysAuq2XvkUAWzVNpaM3
To: /content/SC_Test_Data.csv
100% 232k/232k [00:00<00:00, 79.0MB/s]

# Overview and preparing

In [87]:
# To see if the profit are correlated to states
data = df_train.copy()
data['profit'] = data['totalpay']-0.25*data['cobal']
data.groupby('state')['profit'].mean()

state
AK   -271.400000
AL   -199.691860
AR   -322.086207
AZ    -57.683544
CA     69.969375
CO     67.463235
CT    -62.483333
DC   -382.444444
DE   -550.450000
FL    -86.617965
GA    -76.473333
HI    -87.037500
IA   -311.130952
ID   -752.272727
IL     27.594828
IN    415.325000
KS   -298.509615
KY    235.943878
LA    183.088095
MA    289.446429
MD    -40.348485
ME   -168.350000
MI    252.246667
MN    234.375000
MO   -197.468750
MS    -91.177419
MT   -306.500000
NC     75.447368
ND   -744.750000
NE   -386.833333
NH   -644.833333
NJ    179.147500
NM   -216.375000
NV   -389.331633
NY     77.790640
OH     83.765152
OK     32.524194
OR    -48.493902
PA    -43.418067
RI    -69.269231
SC   -146.601695
SD   -767.972222
TN    316.250000
TX   -293.115091
UT   -599.062500
VA    167.754902
VT    300.062500
WA    302.533708
WI   -342.637097
WV   -579.361111
WY    602.406250
Name: profit, dtype: float64

In [88]:
# To see if the profit are correlated to rollout
data.groupby('rollout')['profit'].mean()

rollout
Associates    -79.700730
Bank_Of_Am    134.572108
Chase         -24.575893
Chase_Bony   -244.271739
Chase_Rev    -139.691624
Discover       -0.083616
Wells          17.111156
Wells_FIB    -240.970930
Name: profit, dtype: float64

In [99]:
# get dummies first and calculate the profit as y
df_train = pd.get_dummies(df_train, columns=['state','rollout'], drop_first=True) 
df_train['profit'] = df_train['totalpay']-0.25*df_train['cobal']
df_train.drop(columns='totalpay', inplace=True)

X_train = df_train.iloc[:,:-2]
y_train = df_train.iloc[:,-1]

#y = y_train>0
y = pd.DataFrame(y_train)
y['judge'] = y_train>0
X = X_train.drop(columns=['accessscr', 'acctid']) # highly correlate to lnaccessscr

# Classification

In [ ]:
from sklearn.tree import DecisionTreeClassifier # Tree induction
from sklearn.linear_model import LogisticRegression #
from sklearn.svm import SVC #support vector machine

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

# Algorithms
Tree_algorithm = DecisionTreeClassifier() 
SVM = SVC()
logreg = LogisticRegression()

# Grids
tree_grid = {"min_samples_leaf": [2, 4, 8, 16, 32, 64], 
             'max_features': ['auto', 'sqrt', 'log2'],
              'ccp_alpha': [0.1, .01, .001],
              'max_depth' : [5, 6, 7, 8, 9],
              'criterion' :['gini', 'entropy'], 
             'random_state': [0]
             }
svc_grid = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4], 'C': [1, 10, 100], 'max_iter': [-1]}, 
                               {'kernel': ['linear'], 'C': [1, 10, 100], 'max_iter': [-1]}]
log_grid={"C":np.logspace(-3,3,7)}

# Conduct grid searches, since the units of money lost or earned are the same, the costs of FP&FN are considered the same
tree_searcher = GridSearchCV(Tree_algorithm, tree_grid, cv=5, scoring = 'accuracy')
SVC = GridSearchCV(SVM, svc_grid, cv=5, scoring = 'accuracy') # running time too long, drop this method
logreg_cv=GridSearchCV(logreg, log_grid, cv=5, scoring = 'accuracy')

# Report results
best_algorithm_C = None
best_score = None
for searcher in [tree_searcher, logreg_cv]:
    searcher.fit(X, y['judge'])
    print(f"Algorithm : {type(searcher.best_estimator_)}")
    print(f"Best parameters: {searcher.best_params_}")
    print(f"Best score (negative custom error): {searcher.best_score_:.2f}")
    print(f"Profit: {y['profit'][searcher.best_estimator_.predict(X)>0].sum():.2f}")
    print("--------")
    if best_algorithm_C is None or best_score < searcher.best_score_:
        best_algorithm_C = searcher.best_estimator_
        best_paras = searcher.best_params_
        best_score = searcher.best_score_

Algorithm : <class 'sklearn.tree._classes.DecisionTreeClassifier'>
Best parameters: {'ccp_alpha': 0.001, 'criterion': 'entropy', 'max_depth': 5, 'max_features': 'log2', 'min_samples_leaf': 32, 'random_state': 0}
Best score (negative custom error): 0.58
Profit: 37818.75
--------
Algorithm : <class 'sklearn.linear_model._logistic.LogisticRegression'>
Best parameters: {'C': 0.001}
Best score (negative custom error): 0.58
Profit: 58789.50
--------

# Regression

In [ ]:
X_train.head()

,acctid,zip,cobal,collscr,cs,accessscr,lnacscr,bureauscr,eaglemod,numcalls,...,state_WA,state_WI,state_WV,state_WY,rollout_Bank_Of_Am,rollout_Chase,rollout_Chase_Bony,rollout_Chase_Rev,rollout_Discover,rollout_Wells
0,1,93313,1786,4013181,4,0.1992,-1.61,133,67,104,...,0,0,0,0,0,0,0,0,0,1
1,2,92154,2048,1015805,1,0.4376,-0.83,109,6,233,...,0,0,0,0,0,0,0,0,0,1
2,3,33319,5170,4013057,4,0.8140,-0.21,103,90,28,...,0,0,0,0,0,0,0,0,0,1
3,4,98115,4506,8012265,8,0.2978,-1.21,136,11,8,...,1,0,0,0,1,0,0,0,0,0
4,5,49615,2706,3013630,3,0.3722,-0.99,105,42,45,...,0,0,0,0,0,0,0,0,0,0

In [100]:
from pandas.core.common import random_state
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

# Algorithms
ridge_algorithm = Ridge()
lasso_algorithm = Lasso()
tree_algorithm = DecisionTreeRegressor()

# Grids
lin_grid = {"alpha": [10**i for i in np.arange(0.9, 5, 0.1)]}
tree_grid = {"min_samples_leaf": range(1, 67, 3), 
             "criterion":['squared_error', 'absolute_error', 'friedman_mse']#
             }

# Conduct grid searches
tree_searcher = GridSearchCV(tree_algorithm, tree_grid, cv=5, scoring = 'r2')
ridge_searcher = GridSearchCV(ridge_algorithm, lin_grid, cv=5, scoring = 'r2')
lasso_searcher = GridSearchCV(lasso_algorithm, lin_grid, cv=5, scoring = 'r2')

# Report results
best_algorithm = None
best_score = None
for searcher in [tree_searcher, ridge_searcher, lasso_searcher]: 
    searcher.fit(X_train, y_train)
    print(f"Algorithm : {type(searcher.best_estimator_)}")
    print(f"Best parameters: {searcher.best_params_}")
    print(f"Best score: {searcher.best_score_:.2f}")
    print(f"Total Profit: {y_train[searcher.best_estimator_.predict(X_train)>0].sum()}")
    print("--------")
    if best_algorithm is None or best_score < searcher.best_score_:
        best_algorithm = searcher.best_estimator_
        best_paras = searcher.best_params_
        best_score = searcher.best_score_

Algorithm : <class 'sklearn.tree._classes.DecisionTreeRegressor'>
Best parameters: {'criterion': 'squared_error', 'min_samples_leaf': 55}
Best score: 0.05
Total Profit: 555232.75
--------
Algorithm : <class 'sklearn.linear_model._ridge.Ridge'>
Best parameters: {'alpha': 31.622776601683793}
Best score: 0.09
Total Profit: 456597.75
--------
Algorithm : <class 'sklearn.linear_model._coordinate_descent.Lasso'>
Best parameters: {'alpha': 7.943282347242816}
Best score: 0.08
Total Profit: 410145.5
--------

In [ ]:
y_train

0        -86.50
1       -212.00
2      -1282.50
3       1423.50
4       1323.50
         ...
3565    1024.75
3566    -390.75
3567    -692.75
3568     197.25
3569     541.00
Name: profit, Length: 3570, dtype: float64

In [101]:
import statsmodels.api as sm
model_L = sm.OLS(y_train,sm.add_constant(X_train.drop(columns = ['accessscr', 'acctid'])))
results = model_L.fit()
print(results.summary())
amount = results.predict(sm.add_constant(X_train.drop(columns = ['accessscr', 'acctid'])))
print(y_train[amount > 0].sum(), y_train[amount > 0].sum()/y_train[y['judge']].sum())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 profit   R-squared:                       0.122
Model:                            OLS   Adj. R-squared:                  0.105
Method:                 Least Squares   F-statistic:                     7.457
Date:                Wed, 23 Nov 2022   Prob (F-statistic):           1.87e-60
Time:                        12:57:11   Log-Likelihood:                -29526.
No. Observations:                3570   AIC:                         5.918e+04
Df Residuals:                    3504   BIC:                         5.959e+04
Df Model:                          65
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const               -739.2549   1435.397     -0.515      0.607   -3553.553    2075.044
zip                    0.0094      0.014      0.674      0.500      -0.018       0.037
cobal                 -0.1108      0.007    -15.108      0.000      -0.125      -0.096
collscr            -7.472e-05    7.9e-05     -0.946      0.344      -0.000    8.02e-05
cs                    48.9754     79.036      0.620      0.536    -105.985     203.936
lnacscr              -16.6357     16.000     -1.040      0.299     -48.006      14.734
bureauscr              0.1579      1.017      0.155      0.877      -1.836       2.152
eaglemod              -0.0704      0.563     -0.125      0.901      -1.175       1.034
numcalls              -0.6676      0.214     -3.122      0.002      -1.087      -0.248
numrpcs              -19.1155      4.844     -3.946      0.000     -28.613      -9.618
state_AL             673.5688    955.450      0.705      0.481   -1199.725    2546.863
state_AR             196.6503    521.271      0.377      0.706    -825.374    1218.675
state_AZ             373.4739    379.845      0.983      0.326    -371.267    1118.215
state_CA             382.1438    320.761      1.191      0.234    -246.754    1011.041
state_CO             471.3189    438.041      1.076      0.282    -387.522    1330.160
state_CT            1189.3455   1353.734      0.879      0.380   -1464.841    3843.532
state_DC             748.4390   1200.762      0.623      0.533   -1605.824    3102.702
state_DE             670.2607   1235.470      0.543      0.587   -1752.053    3092.574
state_FL             850.1481    980.559      0.867      0.386   -1072.376    2772.672
state_GA             839.9415   1018.852      0.824      0.410   -1157.661    2837.544
state_HI             184.1620    373.376      0.493      0.622    -547.894     916.218
state_IA             523.8535    767.064      0.683      0.495    -980.083    2027.790
state_ID            -114.8559    475.781     -0.241      0.809   -1047.692     817.980
state_IL             693.4096    629.677      1.101      0.271    -541.162    1927.981
state_IN            1351.9268    816.999      1.655      0.098    -249.915    2953.769
state_KS             413.1126    587.407      0.703      0.482    -738.582    1564.808
state_KY            1095.4971    888.463      1.233      0.218    -646.459    2837.454
state_LA             702.5566    517.738      1.357      0.175    -312.543    1717.656
state_MA            1491.4634   1407.299      1.060      0.289   -1267.745    4250.672
state_MD             991.2363   1149.010      0.863      0.388   -1261.559    3244.032
state_ME            1077.3142   1391.890      0.774      0.439   -1651.682    3806.310
state_MI            1036.1084    785.432      1.319      0.187    -503.841    2576.058
state_MN             838.0418    720.363      1.163      0.245    -574.331    2250.415
state_MO             397.2632    595.429      0.667      0.505    -770.158    1564.685
state_MS             750.0409    918.086      0.817      0.414   -1049.996    2550.078
state_MT             452.6773    845.892      0.535      0.593   -1205.814    2111.169
state_NC             981.8514   1055.302      0.930      0.352   -1087.218    3050.921
state_ND            -145.7947   1159.977     -0.126      0.900   -2420.093    2128.504
state_NE             279.6600    661.895      0.423      0.673   -1018.078    1577.398
state_NH             630.8515   1421.780      0.444      0.657   -2156.749    3418.452
state_NJ            1314.5289   1327.889      0.990      0.322   -1288.985    3918.042
state_NM             124.9272    423.166      0.295      0.768    -704.749     954.603
state_NV             138.4482    365.270      0.379      0.705    -577.716     854.612
state_NY            1192.3781   1272.308      0.937      0.349   -1302.161    3686.917
state_OH             861.1591    838.805      1.027      0.305    -783.437    2505.755
state_OK             447.0240    504.043      0.887      0.375    -541.223    1435.271
state_OR             246.6945    339.820      0.726      0.468    -419.570     912.959
state_PA            1035.8780   1192.214      0.869      0.385   -1301.625    3373.381
state_RI            1076.7484   1415.335      0.761      0.447   -1698.216    3851.713
state_SC             814.9032   1037.922      0.785      0.432   -1220.090    2849.897
state_SD              92.8610    739.446      0.126      0.900   -1356.927    1542.649
state_TN            1213.3691    926.757      1.309      0.191    -603.669    3030.407
state_TX             334.3781    443.200      0.754      0.451    -534.579    1203.335
state_UT             -68.8888    464.436     -0.148      0.882    -979.481     841.703
state_VA            1095.6639   1126.264      0.973      0.331   -1112.535    3303.863
state_VT            1381.1865   1439.166      0.960      0.337   -1440.502    4202.875
state_WA             527.3748    319.986      1.648      0.099    -100.002    1154.752
state_WI             440.5341    731.311      0.602      0.547    -993.305    1874.373
state_WV             438.3840   1120.959      0.391      0.696   -1759.415    2636.183
state_WY            1067.5406    515.378      2.071      0.038      57.070    2078.011
rollout_Bank_Of_Am   168.3018     57.800      2.912      0.004      54.978     281.626
rollout_Chase        128.7567     66.373      1.940      0.052      -1.376     258.889
rollout_Chase_Bony    10.4185    205.477      0.051      0.960    -392.448     413.285
rollout_Chase_Rev    -48.3336     79.495     -0.608      0.543    -204.196     107.528
rollout_Discover      86.9727     48.964      1.776      0.076      -9.028     182.973
rollout_Wells         10.9420     60.049      0.182      0.855    -106.792     128.676
==============================================================================
Omnibus:                     2215.778   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            39190.621
Skew:                           2.643   Prob(JB):                         0.00
Kurtosis:                      18.347   Cond. No.                     2.09e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.09e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
471480.25 0.387429303002744

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [102]:
# drop some insignificant dummy variables since the coefficients of these variables are large
model_L = sm.OLS(y_train,sm.add_constant(X_train[['acctid', 'zip', 'cobal', 'cs', 'lnacscr', 
                                                  'bureauscr', 'eaglemod', 'numcalls', 'numrpcs', 'state_WY', 'rollout_Bank_Of_Am']]))
results2 = model_L.fit()
print(results2.summary())
amount2 = results2.predict(sm.add_constant(X_train[['acctid', 'zip', 'cobal', 'cs', 'lnacscr', 
                                                  'bureauscr', 'eaglemod', 'numcalls', 'numrpcs', 'state_WY', 'rollout_Bank_Of_Am']]))
print(y_train[amount2 > 0].sum(), y_train[amount2 > 0].sum()/y_train[y['judge']].sum())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 profit   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.090
Method:                 Least Squares   F-statistic:                     33.17
Date:                Wed, 23 Nov 2022   Prob (F-statistic):           7.30e-68
Time:                        12:57:34   Log-Likelihood:                -29583.
No. Observations:                3570   AIC:                         5.919e+04
Df Residuals:                    3558   BIC:                         5.926e+04
Df Model:                          11
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                653.3386    139.867      4.671      0.000     379.110     927.567
acctid                -0.0086      0.016     -0.551      0.581      -0.039       0.022
zip                   -0.0010      0.001     -1.868      0.062      -0.002    5.02e-05
cobal                 -0.1096      0.007    -15.025      0.000      -0.124      -0.095
cs                   -33.5250      5.886     -5.696      0.000     -45.066     -21.984
lnacscr              -12.7169     15.969     -0.796      0.426     -44.027      18.593
bureauscr              0.1021      1.020      0.100      0.920      -1.898       2.102
eaglemod              -0.0892      0.565     -0.158      0.875      -1.196       1.018
numcalls              -0.6563      0.214     -3.069      0.002      -1.076      -0.237
numrpcs              -21.5709      4.830     -4.466      0.000     -31.042     -12.100
state_WY             602.2613    341.163      1.765      0.078     -66.634    1271.157
rollout_Bank_Of_Am   145.3458     43.265      3.359      0.001      60.518     230.173
==============================================================================
Omnibus:                     2330.118   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            46987.395
Skew:                           2.790   Prob(JB):                         0.00
Kurtosis:                      19.874   Cond. No.                     1.39e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
425456.75 0.34961042824235516

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

# Prediction

In [104]:
df_test = pd.get_dummies(df_test, columns=['state','rollout'], drop_first=True)

In [ ]:
df_test.drop(columns=X.columns)

      accessscr  rollout_Wells_FIB
0        0.4030                  0
1        0.1662                  0
2        0.6252                  0
3        0.4670                  0
4        0.7620                  0
...         ...                ...
3565     0.5990                  0
3566     0.6573                  0
3567     0.5458                  0
3568     0.3933                  0
3569     0.8528                  0

[3570 rows x 2 columns]

In [110]:
'''
we use Ridge Regression to predict the results
since the R-square of Ridge Regression method is larger than Lasso and Decision Tree regression and 
the Total Profit is the largest among all classification methods and regression methods we have tried 
'''
pred = pd.Series(best_algorithm.predict(df_test.loc[:,X_train.columns]), index = df_test.index)

In [111]:
decisions = (pred>0)+0
df_decisions = pd.DataFrame({"acctid":df_test["acctid"], "decision": decisions})
df_decisions.to_csv(f"decisions_{nickname}.csv", index=False)

In [112]:
estimate = pred[pred>0].sum()
estimate = int(estimate)
with open(f"estimate_{nickname}.txt", "w") as text_file:
    text_file.write(f"{estimate:.0f}")